rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // WARNING: This allows anyone to read and write to your database.
      // For this simple game prototype, this is necessary because we are not using 
      // Firebase Authentication (Email/Google Sign-in), but a custom username system.
      allow read, write: if true;
    }
  }
}
